#contact iframe{
    width: 100%;
}
.travel_mainDiv
{
    border: 1px solid lightgrey;
}
.travel_mainDiv img
{
    width:100%
}
.travel_mainDiv h5, .travel_mainDiv p{
    margin:20px;
}
body{
    background: linear-gradient(#ffff00 0%, #00ccff 100%)
}
p{
    font-size:20px;
}
.movie_head{
    font-size: 20px;
    padding: 6px 22px;
    border-radius:10px;
    margin-bottom: 15px;
}
.movie_head i{
    float:right;
}
.movie_text span{
color: orange;
}
.books{
    margin-bottom:20px;
}
#banana{
    width:25%;
    height:25%;
}
img{
    width:40%;
    height:40%;
}
